Footer {
    width: 100%;
    background: $color-blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    .app-version {
        font-size: large;
        padding-left: 20px;
        // width: 30%;
        word-wrap: none;
        width: max-content;
    }
    .dev-tools-icon {
        margin-right: 1rem;
    }
    .info-box {
        padding: 0 10px;
        p {
            font-size: medium;
            span {
                color: lightgrey;
            }
        }
    }
}